* {
  font-family: 'Roboto', sans-serif;
}

.body {
  width: 100%;
}

.title,
.links,
p,
h2 {
  text-align: center;
}

a {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

a:visited {
  color: white;
}

.nav {
  background-color: rgb(200, 126, 5);
  color: white;
  padding-bottom: 10px;
}
