* {
  font-family: 'Roboto', sans-serif;
}

.body {
  width: 100%;
}

.title,
.links,
p,
h2,
li,
h4 {
  text-align: center;
  list-style-position: inside;
}

.links a:visited {
  color: white;
}
.links a {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  background-color: rgb(200, 126, 5);
  color: white;
  padding-bottom: 10px;
}

.link-span {
  color: rgb(200, 126, 5);
}
